@import "./vars";

:root {
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $color-text;
  background-color: $color-page-background;
}

a {
  text-decoration: none;
}

button, input {
  font-family: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 16px;
}

