@import "./vars";

:root {
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $color-text;
  background-image: url("/assets/background.jfif");
  background-size: cover;
}

a {
  text-decoration: none;
}

button, input {
  font-family: inherit;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px;

  section {
    padding: 48px 56px;
    border-radius: 16px;
    background-color: $color-form-background;
  }
}

